@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif; }
  *:focus {
    outline: 0; }

/*html {
  zoom: 0.9;
}*/
body {
  width: 100%;
  height: 100%; }
  body .center, body .content-title, body #begin .left-side .icons a, body #begin .right-side #navbar ul li a, body #info-area .about-content, body #info-area #skills .items .item .overlay, body footer .icon-area {
    display: flex;
    align-items: center;
    justify-content: center; }
  body .col-center, body #about-me, body #info-area, body #portfolio .row .column .overlay, body #contact, body #contact form, body footer, body footer .back-top-area {
    display: flex;
    flex-direction: column;
    align-items: center; }
  body .content-title {
    border: 6px solid #000000;
    height: 100px;
    width: 28%;
    min-width: 310px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.35em;
    font-size: 26px; }
  body .explore {
    margin-top: 68px;
    padding: 10px;
    width: 12%;
    min-width: 135px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000; }
  body #about-me {
    padding: 3rem;
    margin: 1rem;
    margin-top: 4em; }
    body #about-me p {
      margin-top: 68px;
      font-family: "Open Sans";
      font-size: 15px;
      color: #050505;
      max-width: calc(100vw - 50%); }
    body #about-me img {
      margin-top: 68px; }
  body #begin {
    display: flex;
    background-color: #d7d7d7;
    position: relative;
    max-width: 100vw;
    height: 600px;
    overflow: hidden; }
    body #begin .left-side {
      background-color: #d7d7d7;
      width: 100%;
      position: absolute; }
      body #begin .left-side .logo {
        margin-top: 3rem;
        margin-left: 8rem; }
      body #begin .left-side .texts {
        margin-left: 8rem;
        margin-top: 120px;
        font-family: "Raleway", sans-serif; }
        body #begin .left-side .texts h4 {
          font-size: 20px;
          font-weight: 700; }
        body #begin .left-side .texts h1 {
          font-size: 40px;
          font-weight: 700;
          margin-top: 3rem; }
        body #begin .left-side .texts p {
          color: #909090;
          font-weight: 800;
          margin-top: 1rem; }
      body #begin .left-side .icons {
        margin-left: 8rem;
        margin-top: 100px;
        display: flex; }
        body #begin .left-side .icons a {
          width: 60px;
          height: 55px;
          background-color: #c4c4c4;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
          body #begin .left-side .icons a:hover {
            margin-top: -10px;
            border-radius: 10px;
            transform: rotate(9deg);
            box-shadow: 0 30px 20px #777;
            transition: 0.5s; }
          body #begin .left-side .icons a:not(:first-child) {
            margin-left: 1rem; }
    body #begin .right-side {
      width: 60%;
      height: 670px;
      background-color: #000000;
      transform: rotate(9deg);
      position: absolute;
      right: -60px;
      top: 10px; }
      body #begin .right-side #navbar {
        position: absolute;
        width: 100%;
        height: 66px;
        padding: 1rem;
        background-color: #000000;
        display: flex;
        align-items: center;
        transform: rotate(-9deg);
        top: -15px; }
        body #begin .right-side #navbar ul {
          display: flex;
          margin-top: 4rem; }
          body #begin .right-side #navbar ul li {
            margin: 2rem; }
            body #begin .right-side #navbar ul li:last-child {
              background-color: #545353;
              border-radius: 20px; }
            body #begin .right-side #navbar ul li a {
              font-weight: 700;
              font-size: 17px;
              padding: 1rem;
              color: #fff;
              height: 2.8rem; }
      body #begin .right-side img {
        display: block;
        width: 350px;
        height: 450px;
        object-fit: cover;
        transform: rotate(-9deg);
        margin: 10rem; }
  body #text-area {
    height: 230px;
    background: linear-gradient(90.18deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
    color: #ffffff;
    padding: 2.3rem;
    display: flex;
    align-items: center;
    overflow: hidden; }
    body #text-area .left-area h3 {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 12px; }
    body #text-area .left-area p {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      text-align: justify;
      margin-top: 1rem; }
    body #text-area .left-area span {
      display: inline-block;
      margin-top: 1.3rem;
      padding: 5px;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 2px;
      border: 2px solid white;
      border-top: none;
      border-bottom: none;
      cursor: pointer; }
      body #text-area .left-area span:hover {
        border: 2px solid whitesmoke;
        margin-top: calc(1.3rem + 4px); }
  body #info-area {
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #ffffff; }
    body #info-area .about-content {
      flex-wrap: wrap;
      max-height: 373px;
      max-width: 1066px;
      margin-top: 1rem; }
      body #info-area .about-content .content {
        max-width: 490px;
        padding: 20px 0 35px 25px; }
        body #info-area .about-content .content:last-child {
          margin-top: 13px; }
        body #info-area .about-content .content.one {
          background: url("../img/design.svg") no-repeat top left; }
        body #info-area .about-content .content.two {
          background: url("../img/development.svg") no-repeat top left;
          margin-left: 67px; }
        body #info-area .about-content .content.three {
          background: url("../img/maintenance.svg") no-repeat top left;
          background-position-y: -10px;
          background-position-x: -10px; }
        body #info-area .about-content .content h3 {
          font-weight: bold;
          font-size: 21px;
          letter-spacing: 0.18em; }
        body #info-area .about-content .content p {
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          line-height: 18px;
          text-align: justify;
          opacity: 0.8;
          margin-top: 28px; }
    body #info-area .seperator {
      margin-top: 80px; }
    body #info-area .content-title {
      margin-top: 10%; }
    body #info-area #skills {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      margin: 1rem;
      max-width: 1004px; }
      body #info-area #skills .tech-title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.18em;
        width: 100%;
        margin-top: 70px; }
      body #info-area #skills .items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px; }
        body #info-area #skills .items .item {
          max-width: 240px;
          max-height: 170px;
          padding: 18px;
          position: relative;
          margin-top: 30px; }
          body #info-area #skills .items .item:not(:nth-child(4n + 1)) {
            margin-left: 100px; }
          body #info-area #skills .items .item:hover .overlay {
            height: 100%; }
          body #info-area #skills .items .item .skill-img {
            width: 100px;
            height: 100px; }
            body #info-area #skills .items .item .skill-img[title="cs go"] {
              object-fit: cover; }
            body #info-area #skills .items .item .skill-img.soon {
              filter: grayscale(100%);
              opacity: 0.6; }
          body #info-area #skills .items .item .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #363945;
            opacity: 0.95;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: 0.7s ease; }
            body #info-area #skills .items .item .overlay .text {
              color: white;
              font-size: 18px;
              position: absolute;
              cursor: default;
              text-align: center; }
          body #info-area #skills .items .item .item-name {
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 13px;
            cursor: default; }
  body #portfolio .portfolio-bg {
    height: 280px;
    background: url("../img/portfolio-bg.png") no-repeat center; }
  body #portfolio .btnContainer {
    height: 102px;
    background: #1a1a1a;
    flex-wrap: wrap; }
    body #portfolio .btnContainer .btn {
      height: 42px;
      width: 145px;
      background: #1a1a1a;
      color: #7c7c7c;
      font-weight: 600;
      border-bottom: 1px solid #aaaaaa; }
      body #portfolio .btnContainer .btn:not(:first-child) {
        margin-left: 40px; }
      body #portfolio .btnContainer .btn.active {
        color: #fffbfb;
        border-bottom: 1px solid #fffbfb; }
      body #portfolio .btnContainer .btn:hover {
        color: #fffbfb;
        font-weight: bold;
        border: 2px solid #fffbfb; }
  body #portfolio .row {
    background: #1a1a1a;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden; }
    body #portfolio .row .show {
      display: block; }
    body #portfolio .row .column {
      position: relative;
      width: 33%; }
      body #portfolio .row .column:hover .overlay {
        transform: scale(1); }
      body #portfolio .row .column .overlay {
        position: absolute;
        justify-content: space-evenly;
        bottom: 0;
        left: 0;
        right: 0;
        background: #1a1a1a;
        opacity: 0.95;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transition: 0.6s ease; }
        body #portfolio .row .column .overlay .text {
          color: white;
          font-size: 18px;
          cursor: default;
          text-align: center; }
  body #portfolio .portfolio-footer {
    height: 55px;
    background: #1a1a1a;
    color: #fffbfb;
    font-weight: 600;
    font-size: 18px; }
  body #contact {
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #ffffff;
    padding-bottom: 68px; }
    body #contact form .input:not(input[type="submit"]) {
      width: 600px;
      height: 48px;
      padding: 14px;
      font-size: 18px;
      border-bottom: 5px solid #000000;
      border-left: 5px solid #000000;
      background: transparent; }
      body #contact form .input:not(input[type="submit"]).area {
        width: 100%;
        max-width: 600px;
        min-height: 184px; }
      body #contact form .input:not(input[type="submit"]):not(textarea):focus::-webkit-input-placeholder {
        transform: translateX(150%);
        transition-duration: 3s; }
      body #contact form .input:not(input[type="submit"]):not(:first-child) {
        margin-top: 52px; }
      body #contact form .input:not(input[type="submit"])::placeholder {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: #8b8b8b;
        line-height: 17px; }
    body #contact form .input[type="submit"] {
      height: 45px;
      width: 197px;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 2px;
      cursor: pointer;
      border-left: 4px solid #000000;
      border-right: 4px solid #000000; }
      body #contact form .input[type="submit"]:hover {
        border: 4px solid #000000;
        font-weight: 700;
        letter-spacing: 4px;
        transition: 0.5s; }
  body footer {
    height: 220px;
    background-color: #1a1a1a;
    justify-content: space-around;
    color: #ffffff; }
    body footer .back-top-area {
      height: 40px;
      justify-content: space-between;
      cursor: pointer; }
      body footer .back-top-area:hover {
        transform: translateY(-10px);
        transition: 0.6s; }
      body footer .back-top-area p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 3px; }
    body footer .icon-area {
      width: 50%;
      justify-content: space-between;
      flex-wrap: wrap; }
      body footer .icon-area a {
        color: #ffffff; }
        body footer .icon-area a i {
          font-size: 30px; }
          body footer .icon-area a i.fa-twitter:hover {
            color: #00acee; }
          body footer .icon-area a i.fa-instagram:hover {
            color: #8134af; }
          body footer .icon-area a i.fa-steam:hover {
            color: #30526f; }
          body footer .icon-area a i.fa-discord:hover {
            color: #7289da; }
    body footer .copy-area {
      font-weight: 500;
      letter-spacing: 1px; }
      body footer .copy-area span {
        font-weight: 700; }
  body #thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff; }
    body #thanks a {
      background-color: #ffffff;
      height: 40px;
      padding: 1rem;
      color: #000000;
      letter-spacing: 1px;
      border-radius: 10px;
      box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; }

/*# sourceMappingURL=style.css.map */
